body {
    margin: 0;
    font-family: 'Segoe UI';
    background: #0f172a;
    color: white;
}

.light {
    background: #f1f5f9;
    color: black;
}

.container { display: flex; }

.sidebar {
    width: 220px;
    background: #020617;
    padding: 20px;
    height: 100vh;
}

.sidebar a {
    display: block;
    margin: 10px 0;
    color: white;
    text-decoration: none;
}

.main { flex: 1; padding: 20px; }

.header {
    font-size: 22px;
    margin-bottom: 20px;
}

.cards {
    display: flex;
    gap: 15px;
}

.card {
    background: #1e293b;
    padding: 15px;
    border-radius: 10px;
    margin: 10px 0;
}

input {
    padding: 8px;
    margin: 5px;
}

button {
    padding: 8px;
    background: #22c55e;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.low { background: green; }
.medium { background: orange; }
.high { background: red; }